<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.eternie.android.twicca.uxnu"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".UxnuTwicca" android:label="@string/command_name" android:enabled="true">
            <intent-filter>
                <action android:name="jp.r246.twicca.ACTION_EDIT_TWEET"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="4" />


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 